body {
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

/*** HEADER ***/
.header {
    background: url("assets/img/header-bg-img.png") center center no-repeat;
    background-size: cover;
    height: 100%;
}

.header__btn {

}

.header__title {
    color: #6600a1;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    display: block;
}

.header__subtitle {
    font-size: 1.5rem;
    text-transform: none;
    color: #6600a1;
    display: block;
    font-weight: 300;
}

/*** STEPPER ***/
.stepper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.stepper__element {
    background: #9999cc;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 40px;
    height: 40px;
    width: 200px;
    margin: 5px;
}


/*** PRODUCT QUESTIONS AND ANSWER SECTION ***/
.product__question-content{
    text-align: center;
    font-size: 1.75rem;
    color: #6600a1;
}

.product__answers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product__answer {
    height: 100%;
}

.product__answer-img {
    height: 100%;
}

.product__answer-img img {
    height: 100%;
}

.product__answer-bottom-container {
    background: #ededed;
}

.product__answer-bottom {
    height: 50px;
    width: 100%;
}

.answer__checkbox {
    position: relative;
    top: 25%;
    padding-left: 10px;
}

.answer__infotext:before {
    font-family: "Font Awesome 5 Free";
    content: '\f05a';
    display: inline;
    color: #6600a1;
    vertical-align: top;
    font-weight: 900;
    position: relative;
    top: 25%;
}

.product__next {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
}

.btn__label {
    font-size: 1.25rem;
    text-transform: uppercase;
    vertical-align: middle;
    color: #6600a1;
    padding-right: 10px;
}

.btn__next {
    display: inline-block;
    background-color: #6600a1;
    height: 50px;
    width: 50px;
}

.btn__next:before {
    font-family: "Font Awesome 5 Free";
    content: '\f105';
    display: inline;
    color: #ffffff;
    vertical-align: middle;
}


/*** STATES ***/
.is-active {
    background-color: #6600a1;
}
